header{
    width: auto;
    background-color: black;
    color: white;
    padding: 10px;
}

input:focus{
   border: 1px solid blue;
}
#cadastro-valor{
    display: none;
    position: fixed;
    background-color: silver;
    width: 44vh;
    height: 62vh;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid black;
    
}
.cadastro-alinhamento{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.titulo{
    text-align: center;
  
}

.titulo h1{
    font-size: 2.0em;
    margin-bottom: 20px;
    font-weight: bold;
}

 #btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vh;
    border: 2px solid black;
    background-color: silver;

 }

 #btn h2{
    font-size: .9em;
    text-align: center;
    vertical-align:middle;
 }
 .btn-enviar{
   background-color:azure;
 }

 .btn-sair{
    display: flex;
    justify-content: end;
    padding: 5px;
 }
#sair{
   cursor: pointer;
   
}
#sair:hover{
   background-color: red;
   box-shadow: 1px 1px 1px 1px red;
}
 table{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 tr{

    border: 1px solid black;
    text-align: center;

 }
 td form{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-block-end: 0;
 }

 td{
    width: 200px;
 }
.back-silver{
    background-color: silver;
}
 main{
    margin-bottom: 20vh;
 }

 .alinhamento-centro{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .alinhamento-centro-row{
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: row;
 }

button{
  border: 0;
  background-color: transparent;
}

